@font-face { 
	font-family: 'Gill Sans'; 
	src: url('Fonts/Gill Sans.ttf'); 
}

body {
	margin: auto;
	font-family:"Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

/**************** Vertical Navigation Bar ****************/
/*********************************************************/
/*********************************************************/
/*********************************************************/

#navbar-wrapper {
	z-index: 100;	
	width: 130px;
	position: fixed;
	border-radius: 3px;
	display: block;
	background-color: #313131;
	box-shadow:0 2px 5px rgba(0,0,0,0.5);
}

#navbar-header {
	font-family:"Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 11pt;
	text-align:center;
	margin: 12%;
}

#navbar-header a, #navbar-header a:visited {
	text-decoration: none;
	color: white;
}

#navbar-header a:hover {
	color: #11CFF5;
}

.navbar {
	margin:0;
}

.navbar ul {  
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	font-family:"Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size:13px;
	width: 130px;
}

.navbar ul:after {
	content: "";
	clear: both; 
}

.parent {
	border-top: 1px solid #3C3C3C;
	padding: 7px;
}

.child{
	border-top: 1px solid #3C3C3C;
	padding: 7px;
}

.navbar ul li:hover {
	background-color: #292929;
	border-right:3px solid #11CFF5;
}

.navbar li {
	position: relative;
}

.navbar ul li:hover a {
	color: #fff;
}
	
.navbar ul li a { 
	text-decoration: none;
	color:#CCC;
}	

.navbar ul ul {
	background-color: #313131;
	display: none;
	position: absolute; 
	top: 0;
	width: 100%;
	left: 100%;
}

.navbar ul li:hover > ul {
	display: block;
}

.navbar ul ul li { 
	border-top: 1px solid #3C3C3C;
}

.navbar ul ul li a {
	text-decoration: none;
	color:#CCC;
}	


/******************** TWITTER SIDEBAR ********************/
/*********************************************************/
/*********************************************************/
/*********************************************************/

/*#social-main{
    position: fixed;
    top: 150px;
    right: -340px;
    width: 340px;
    height: 340px;
    background: white;
    z-index: 100;
	border-radius: 4px;
}

#social-hover{
    position: fixed;
    top: 150px;
    right: 0px;
    width: 50px;
    height: 50px;
    background: #11CFF5;
    z-index: 100;
	background-image: url('Images/twitter.png');
	background-position: center;
	background-repeat: no-repeat;
}
	
#twitter {
	width: 300px;
	height: 400px;
	overflow: scroll;
	font-family: century gothic, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	margin-left: 16%;
}

.tweet {
	margin-left: 6px;
	margin-top: 5px;
	background: url(Images/black.png);
	font-family: century gothic, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

.xtra {
	text-decoration: strong;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 5px;
}*/


/********************** HOME PAGE ************************/
/*********************************************************/
/*********************************************************/
/*********************************************************/

/* header */
.white-header {
	z-index: 500;
	background: white;
	min-height: 45px;
	width: 100%;
	background-image: url(Images/logo.png);
	background-repeat: no-repeat;
	background-position: right;
	box-shadow: 0 0 5px #aaa;
	-moz-box-shadow: 0 0 5px #aaa;
	-webkit-box-shadow: 0 0 5px #aaa;	
}

/*divider with title, description, and links */
.main-divider {
	background: url(Images/bglines2.png);
	width: 100%;
	height: 375px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#buzz {
	font-size: 70px;
	margin:0;
	padding-top: 8%;
	text-shadow: 1px 1px 3px #696969;
	color: white;
}

.home-title, #tag-links {
	margin:0;
	padding-left: 8%;
	color: white;
}

.tagline {
	margin:0;
	display: inline;
}

#a, #b, #c {
	text-decoration: none;	
	background: #226699;
	padding: 7px;
	border-radius: 5px;
	border: d;
	color: white;
	margin-right: 4px;
}

#a:hover, #b:hover, #c:hover { 
	background: #FFFF9D;
	color: black;
}

/* body */
#home-body-wrapper {
	padding-top: 20px;
	background: white;
	width: 100%;
	height: 350px;
}

#disc-title {
	text-decoration: none;
	font-size: 25px;
	float: left;
	margin-left: 29%;
	color: black;		
}

#exp-title {
	text-decoration: none;
	float: right;	
	font-size: 25px;
	margin-right: 38%;
	color: black;
}

#disc {	
	float: left;
	margin-left: 24%;
}

#exp {
	float: right;
	margin-right: 20%;
}

/* footer */
footer {
	z-index: 4;
	background-image: url(Images/bg.png);
	bottom: 0;
	height: 30px;
	width: 100%;
	text-align: right;
	position: fixed;
	font-size: 12px;
}

#foot {
	padding-right: 3%;
}



/********************** ABOUT PAGE ***********************/
/*********************************************************/
/*********************************************************/
/*********************************************************/

#about-body {
	background-image: url(Images/bg.png);
}

#a-divider {
	background: url(Images/bglines.png);
	width: 100%;
	height: 250px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	padding: 3% 0 2% 0;
}

#about-buzz {
	padding-top: 30px;
	font-size: 60px;
	text-align: center;
	margin:0;
	text-shadow: 1px 1px 3px #696969;
}

.about-title {
	text-align: center;
	margin:0;
}

table {
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	border-spacing: 0;
	border-collapse: collapse
}

tr {
	vertical-align: top;
}

.homepage {
	background: white;
}

.title {
	text-align:center;
	color: black;
	font-size: 25pt;
}

.description {
	font-size: 13px;
	text-align:center;
	padding: 3%;
}

#usage {
	width: 500px;
	padding-left: 25px;
}

#about {
	width: 500px;	
}


/********************* DISCOVER PAGE *********************/
/*********************************************************/
/*********************************************************/
/*********************************************************/



/********************** CITIES PAGE **********************/
/*********************************************************/
/*********************************************************/
/*********************************************************/

.body {
	margin: 0;
	padding: 0;
	width: auto;
	background: none;
	/*background-image: url('Images/bg.png');*/
	font-family:"Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

#keyword {
	height:10%;
	width:10%;
	max-height: 10%;
	max-width: 10%;
	position:absolute;
}

/* Label for related media links section*/
.l-label {
	display: inline-block;
	font-size: 14px;
	background-color: #313131;
	color: #f5f5f5;
	border-radius: 5px 5px 0 0;
	padding: 0;
	margin: 0;
	width: 130px;
}

.l-label:hover {
	background-color: #292929;
}


/******* news *****/
#news {
	height: 250px;
	overflow-x: auto;
	overflow: scroll;
	white-space: nowrap;
	font-size: 12px;
	border-radius: 0 0 5px 5px;
	border: 1px #dddddd solid;
	background-color:white;

}

.newsresult {
	display:inline-block;
	padding-left: 20px;
	width: auto;
	max-heig
	ht: 250px;
	height: 250px;
}

.newsresult a{
	color: black;
	text-decoration: none;
}

.newsresult a:hover {
	color: #B6DEE6;
}

.newsresult img{
	padding-left: 5px;
}

.newsTitle {
	font-size:14px;
	border-radius: 15px 15px 15px 15px;
	margin:0px;
	word-wrap:break-word;
	overflow: hidden;
}

.newsSource{
	font-size:11px;
	margin:0;
}

.newsSnippet {
	width: 270px;
	word-wrap: break-word;
	white-space: pre-line;
}

/******** videos *******/
#videos {
	height: auto;
	overflow-x: auto;
	white-space: nowrap;
	font-size: 12px;
	border-radius: 0 0 5px 5px;
	border: 1px #dddddd solid;
	background-color:white;
}

.result{
	display:inline-block;
	padding-left: 20px;
	width: 275px;
}

.vidTitle{
	font-size:14px;
	margin:0;
	word-wrap:break-word;
	overflow: hidden;
}

.vidDesc{
	font-size:12px;
	margin:0;
}

/******** tweets *******/

#tweet-list {
	height: auto;
	overflow-x: auto;
	overflow: scroll;
	white-space: nowrap;
	font-size: 12px;
	border-radius: 0 0 5px 5px;
	border: 1px #dddddd solid;
	background-color:white;
}

.tweet-li{
	display:inline-block;
	padding-left: 20px;
	width: auto;
	max-height: 250px;
}

.tweetTitle{
	font-size:14px;
	margin:0;
	word-wrap:break-word;
	overflow: hidden;
}

.tweetDesc{
	font-size:12px;
	margin:0;
}

/****** images ******/
#images{
	height: auto;
	overflow-x: auto;
	overflow: scroll;
	white-space: nowrap;
	font-size: 12px;
	border-radius: 0 0 5px 5px;
	border: 1px #dddddd solid;
	background-color:white;
}

.imgresult {
	height: auto;
	display:inline-block;
	max-height: 250px;
	max-width: 150px;
}

/********************** EXPLORE PAGE *********************/
/*********************************************************/
/*********************************************************/
/*********************************************************/

.body {
	margin: 0;
	padding: 0;
	width: auto;
	background-image: url('static/Images/bg.png');
	font-family:"Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

#body {
	width: 90%;
	height: auto;
	margin-top: 4%;
	margin-left: 5%;
	background: white;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
	position: absolute;
}

.subtitle {
	text-align: center;
	padding: 2%;
}


 /* for the radio buttons */
 
#cities {
	text-align: center;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:black;
    font-size:12px;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(static/Images/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(static/Images/check_radio_sheet.png) -19px top no-repeat;
}

/*content*/

.boxbody {
	border: 1px solid #dddddd;
	border-radius: 3px;
	padding: 0 0 0 0;
}

.boxframe {
	background-color: #f5f5f5;
	color: #333333;
	border-bottom: 1px solid #dddddd;
	padding: 4px;
	font-size: 0.9em;
	font-weight: bold;
}

#content {
	padding-top:5%;	
}

#canvas {
	margin-top: -100px;
	margin-left: 18px;
}

label#c1 {
	font-family: 'MISTRAL', sans-serif;
	font-size: 45px;
	padding-left: 2%;
}

label#c2 {
	font-family: 'MISTRAL', sans-serif;
	font-size: 45px;
	float: right;
	padding-right: 2%;
}

label#c1rt {
	margin-left: 15px;
	margin-right: 15px;
}

label#c2rt {
	float: right;
	margin-left: 15px;
	margin-right: 15px;
}

label#ml {
	text-align: center;
}

#c1tweets {
	width: 400px;
	float: left;
	height: 500px;
	border: solid black 1px;
	border-radius: 15px;
	margin-bottom: 20px;
	margin-left: 15px;
	margin-right: 15px;
	color: black;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#c2tweets {
	width: 400px;
	float: right;
	height: 500px;
	border: solid black 1px;
	border-radius: 15px;
	margin-bottom: 20px;
	margin-left: 15px;
	margin-right: 15px;
	color: black;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#media-links {
	margin-top: 30%;
	text-align: center;
}

#links {
	width: 950px;
	float: right;
	height: auto;
	border: solid black 1px;
	border-radius: 15px;
	margin-bottom: 20px;
	margin-right: 11%;
	color: black;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}