<!DOCTYPE html>
<html>
  	<head>
    		<title> Buzz </title>
    		<link href = "static/style.css" rel="stylesheet" type="text/css"></link>	
    		<link rel="icon" type="image/ico" href="static/Images/icon.ico">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>	
    </head>

    <body id="about-body">

      <!-- **NAVIGATION BAR** -->
      <div id="navbar-wrapper">
        <h1 id="navbar-header"><a href="home.html">Buzz</a></h1>
        <div class="navbar"> 
            <ul>
                <li class="parent">
                    <img src="static/Images/discover.png"/>
                    <a href="discover.html">Discover</a>
                        <ul>
                          <li class="child"><a href="discover_Chicago">Chicago</a></li>
                          <li class="child"><a href="discover_Los Angeles">Los Angeles</a></li>
                          <li class="child"><a href="discover_Miami">Miami</a></li>
                          <li class="child"><a href="discover_New York City">New York</a></li>
                          <li class="child"><a href="discover_San Francisco">San Francisco</a></li>
                          <li class="child"><a href="discover_Washington DC">Washington DC</a></li>
                        </ul>
                </li>
                    
                <li class="parent">
                    <img src="static/Images/explore.png"/>
                    <a href="explore.html">Explore</a>
                </li>
                
                <li class="parent">
                  <img src="static/Images/about.png"/>
                  <a href="about.html">About</a>
                </li>

            </ul>
        </div>
      </div>

      <!-- **HEADER** -->
      <div class="white-header">
        <p class="ref">About</p>
      </div>

      <!-- **MAIN BODY** -->
      <div id="a-divider">
          <h1 class="about-title" id="about-buzz"> About Buzz </h1>
          <p class="about-title">Buzz makes it easier to view what's trending on Twitter. It provides</p>
          <p class="about-title">city-specific data about trending pop culture topics by dynamically harvesting</p>
          <p class="about-title">keywords and displaying media links related to each keyword. Simply pick a</p>
          <p class="about-title">city and discover what pop culture icons are buzzing!</p>
      </div>

      <div class="page-wrapper">
        <div id="usage">
          <div id="use1">
            <img src="static/Images/circle1.png" />
            <span>
              <h1 class="title">Discover</h1>
              <p class="text"> what's <em>buzzing</em> in a specific city by selecting a city to view the top trending </p>
              <p class="text">pop culture icons and the related media (YouTube videos, news links, and images)</p>
            </span>
          </div>

          <div id="use2">
            <img src="static/Images/circle2.png" />
            <span>
              <h1 class="title">Explore</h1>
              <p class="text"> what's <em>buzzing</em> in all cities by navigating to the explore page to view the representation</p>
              <p class="text"> of tweets in a city out of all tweets in the database.</p>
            <span>
          </div>
        </div>
      </div>
      
      <div id="about">
          <h1 id="h1-title">Under the Hood</h1>
              <p id="p-about"> On Twitter, trending topics are represented in broad categories, and usually on a national or global scale. This presents several problems: the inability to locate and present actual, localized twitter data and media in a relevant way and the incapacity to compare what people are tweeting about based on their location.</p>

              <p id="p-about"> Buzz solves these problems by providing specific data about trending pop culture topics within American cities by dynamically harvesting keywords. By drilling down into specific pop-culture references, Buzz allows for direct references of relevant media (YouTube videos, news articles, specific tweets).</p>

              <p id="p-about"> Additionally, when compared to the old <a href="http://neighborhoodbuzz.knightlab.com"> Neighborhood Buzz </a>, Buzz no longer relies on a topical categorizer because the best categorizer is in our brains.</p>
      </div>

      <!-- **TWITTER SIDEBAR FOR TWITTER BOT** 
      <script>
          $('body').on('mouseenter', '#social-hover', function () {
          $('#social-hover').animate({
            right: '340px'
          }, 250);
          $('#social-main').animate({
            right: '0px'
          }, 250);
        });
        
        
        $('body').on('mouseleave', '#container', function () {
          $('#social-hover').animate({
            right: '0px'
          }, 250);
          $('#social-main').animate({
            right: '-340px'
          }, 250);
        });
        
      </script>
      
      <div id="container">
        <div id="social-main">
          enter data for twitter widget       
        </div>
        <div id="social-hover"></div>
      </div>-->
    
    <footer>
          <p id="foot">&copy; 2013 Zhang, Cohn, Anumba</p>
    </footer>
	</body>
</html>