<!DOCTYPE html>
<html>
  	<head>
    		<title> Buzz </title>
    		<link href = "static/style.css" rel="stylesheet" type="text/css"></link>	
    		<link rel="icon" type="image/ico" href="static/Images/icon.ico">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <!-- <script src="static/js/jquery-horizscroll.js"></script>-->
        <script src="static/js/twitter.js"></script>
    		
        <!--<script>
      			$(function(){
      				$("#page-wrap").wrapInner("<table cellspacing='30'><tr>");
      				$(".post").wrap("<td></td>");
      				$("body").mousewheel(function(event, delta) {
      					this.scrollLeft -= (delta * 30);
      					event.preventDefault();
      				});   
      			});
        </script>	-->	
    </head>

    <body id="about-body">

      <!-- **NAVIGATION BAR** -->
      <div id="navbar-wrapper">
        <h1 id="navbar-header"><a href="home.html">Buzz</a></h1>
        <div class="navbar"> 
            <ul>
                <li class="parent">
                    <img src="static/Images/discover.png"/>
                    <a href="discover.html">Discover</a>
                        <ul>
                          <li class="child"><a href="discover_Chicago">Chicago</a></li>
                          <li class="child"><a href="discover_Los Angeles">Los Angeles</a></li>
                          <li class="child"><a href="discover_Miami">Miami</a></li>
                          <li class="child"><a href="discover_New York City">New York</a></li>
                          <li class="child"><a href="discover_San Francisco">San Francisco</a></li>
                          <li class="child"><a href="discover_Washington DC">Washington DC</a></li>
                        </ul>
                </li>
                    
                <li class="parent">
                    <img src="static/Images/explore.png"/>
                    <a href="explore.html">Explore</a>
                </li>
                
                <li class="parent">
                  <img src="static/Images/about.png"/>
                  <a href="about.html">About</a>
                </li>

            </ul>
        </div>
      </div>

      <!-- **HEADER** -->
      <div class="white-header"></div>

      <!-- **MAIN BODY** -->
      <div id="a-divider">
          <h1 class="about-title" id="about-buzz"> About Buzz </h1>
          <p class="about-title">Buzz makes it easier to view what's trending on Twitter.It provides city-specific data about trending pop culture topics within American cities by dynamically harvesting keywords and displaying media links related to each keyword. 
          Simply pick a city and discover what pop culture icons are buzzing!</p>
      </div>

      <!-- tables for horizontal scroll -->
      <table>
          <tr>              
            <td class="homepage">
              <div id="usage">
                <img src="static/Images/how-to.png" />
              </div>
            </td> 
              
            <td class="homepage">
              <div id="about">
              	<h1 class="title">About Buzz</h1>
             		<h2 class="description"> 
                    <p> On Twitter, trending topics are represented in broad categories, and usually on a national or global scale. This presents a problem of locating and presenting actual, localized twitter data and media in a relevant way and comparing what people are tweeting about based on their location?</p>

                    <p> Buzz solves this problem by providing city-specific data about trending pop culture topics within American cities by dynamically harvesting keywords. By drilling down into specific pop-culture references, Buzz allows for direct references of relevant media (YouTube&copy; videos, news articles, specific tweets).</p>

                    <p> Additionally, when compared to the old <a href="http://neighborhoodbuzz.knightlab.com"> Neighborhood Buzz </a>, Buzz no longer relies on a topical categorizer because the best categorizer is in our brains.</p>
              	</h2>
              </div>
            </td> 
          </tr>
      </table>

      <!-- **TWITTER SIDEBAR FOR TWITTER BOT** 
      <script>
          $('body').on('mouseenter', '#social-hover', function () {
          $('#social-hover').animate({
            right: '340px'
          }, 250);
          $('#social-main').animate({
            right: '0px'
          }, 250);
        });
        
        
        $('body').on('mouseleave', '#container', function () {
          $('#social-hover').animate({
            right: '0px'
          }, 250);
          $('#social-main').animate({
            right: '-340px'
          }, 250);
        });
        
      </script>
      
      <div id="container">
        <div id="social-main">
          enter data for twitter widget       
        </div>
        <div id="social-hover"></div>
      </div>-->

	</body>
</html>