<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> Buzz </title>
    <link href = "static/style.css" rel="stylesheet" type="text/css"></link>	
    <link rel="icon" type="image/ico" href="static/Images/icon.ico">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="static/js/wikipedia.js"></script>
    <script src="static/js/buzz.js"></script>	
  </head>
	
  <body class="body"> 
    
    <!-- **HEADER**  -->
    <div id="buzztitle">
        <img src="static/Images/title.png" />
    </div>
    
    <!-- **NAVIGATION BAR** -->
        <div id="navbar-wrapper">
            <h1 id="navbar-header"><a href="home.html">Buzz</a></h1>
            <div class="navbar"> 
                <ul>
                    <li class="parent">
                        <img src="static/Images/discover.png"/>
                        <a href="discover.html">Discover</a>
                            <ul>
                                <li class="child"><a href="discover_New York City">New York</a></li>
                                <li class="child"><a href="discover_San Francisco">San Francisco</a></li>
                                <li class="child"><a href="discover_Chicago">Chicago</a></li>
                                <li class="child"><a href="discover_Los Angeles">Los Angeles</a></li>
                                <li class="child"><a href="discover_Miami">Miami</a></li>
                                <li class="child"><a href="discover_Washington DC">Washington DC</a></li>
                            </ul>
                    </li>
                        
                    <li class="parent">
                        <img src="static/Images/explore.png"/>
                        <a href="explore.html">Explore</a>
                    </li>
                    <li class="parent">
                      <img src="static/Images/about.png"/>
                      <a href="about.html">About</a>
                  </li>                    
                </ul>
            </div>
         </div>
    
    <!-- **MAIN BODY** -->
        
    <div id="bodywrapper">
        <span id="test">
        	<p> Lady Gaga </p>
            <p> Barack Obama </p>
            <p> The Weeknd </p>
            <p> Miley Cyrus </p>
            <p> Macklemore </p>
            <p> Eminem </p>
        </span>
        
        <div id="wrapper">
            <p id="l-news" class="label">Recent News</p>
           	<div id="news"></div>
            
            <!--<p id="l-img" class="label">Images</p>
            <div id="images"></div>-->
            
            <p id="l-vid" class="label">YouTube Videos</p>
            <div id="videos"></div>
            
            
            
            
             
    	</div>
    
    </div> 
    
  </body>
</html>
