<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> Buzz </title>
    <link href="static/nvd3/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="static/nvd3/lib/d3.v3.js"></script>
    <script src="static/nvd3/nv.d3.js"></script>
    <link href = "static/style.css" rel="stylesheet" type="text/css"></link>	
    <link rel="icon" type="static/image/ico" href="static/Images/icon.ico">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="static/wikipedia.js"></script>
<script src="static/nvd3/src/models/legend.js"></script>
<script src="static/nvd3/src/models/pie.js"></script>
<script src="static/nvd3/src/models/pieChart.js"></script>
<script src="static/nvd3/src/utils.js"></script>

  </head>
<style>



text {
  font: 12px sans-serif;
}

.mypiechart {
  width: 700px;
  height: 500px;
  border: 2px;
}
</style>
<body>


    
    <!-- **HEADER**  -->
    <div id="buzztitle">
        <img src="static/Images/title.png" />
    </div>
    
    <!-- **NAVIGATION BAR** -->
    <div id="navbar-wrapper">
      <h1 id="navbar-header"><a href="home.html">Buzz</a></h1>
      <div class="navbar"> 
          <ul>
              <li class="parent">
                  <img src="static/Images/discover.png"/>
                  <a href="discover.html">Discover</a>
                      <ul>
                                <li class="child"><a href="discover_New York City">New York</a></li>
                                <li class="child"><a href="discover_San Francisco">San Francisco</a></li>
                                <li class="child"><a href="discover_Chicago">Chicago</a></li>
                                <li class="child"><a href="discover_Los Angeles">Los Angeles</a></li>
                                <li class="child"><a href="discover_Miami">Miami</a></li>
                                <li class="child"><a href="discover_Washington DC">Washington DC</a></li>
                      </ul>
              </li>
                  
              <li class="parent">
                  <img src="static/Images/explore.png"/>
                  <a href="explore.html">Explore</a>
              </li>
          </ul>
      </div>
    </div>
    
    <!-- **MAIN BODY** -->
<h1 style="text-align: center;"> {{city}} </h1>
<div id="body">
  <div id="lt"> 
  <ul id="tweets" style="list-style-type: none; text-align: -webkit-match-parent; float: right;">
  </ul>
    <div id="charts">
<ul style="list-style-type: none; text-align: -webkit-match-parent; float: left;">
<h2 align="center">Trending</h2>
</li>
<li>
<svg id="chart1" class="mypiechart" style="text-align: -webkit-match-parent; float: right;"></svg>
</li>
<li>
<h2 align="center">Upcoming</h2>
</li>
<li>
<svg id="chart2" class="mypiechart" style="text-align: -webkit-match-parent; float: right;"></svg>
</li>
<li>
</li>
<h2 align="center">On the Verge</h2>
<li>
<svg id="chart3" class="mypiechart" style="text-align: -webkit-match-parent; float: right;"></svg>
</li>
</ul>
</div>
</div>
       <script type="text/javascript" charset="utf-8">
  

        $.getJSON( "static/json/compare_tweets.json", function( data ) {
        var items = [];
        var tweetlist = document.getElementById("tweets");
        $.each( data, function( i, tweet ) {
          if ( i === 40 ) {
          return false;
        }
          var li = document.createElement();
          /*li.innerHTML = '<li style="text-align: -webkit-match-parent;" id="' + i + '">' + 
            '<iframe border=0 frameborder=0 height=150 width=350 align = right src="https://twitframe.com/show?url=https://twitter.com/' + tweet.user_id_str + '/status/' + tweet.id_str + '"></iframe>'
            + '</li>'*/
            li.innerHTML='<li style="text-align: -webkit-match-parent;" id="' + i + '">' +
            '<blockquote class="twitter-tweet" height="400" width="750" min-width="500" align="right" ><a href="https://twitter.com/twitterapi/status/' + tweet.id_str + '"</a></blockquote></li>'
            tweetlist.appendChild(li);
        });
       

      });
        function addTweets(tweetlist) {
          var count = Math.min(tweetlist.length,30);
          var tweets = document.getElementById("tweets");
          var ul = document.createElement("ul");
          ul.id="tweets";
          ul.setAttribute("style","list-style-type: none; text-align: -webkit-match-parent; float: right");
          var oldList = document.getElementById("rt");
          for (var i=0; i < count; i++) {
            var li = document.createElement();
            var tid = tweetlist[i];
            li.innerHTML='<li style="text-align: -webkit-match-parent;" id="' + tid + '">' +
            '<blockquote class="twitter-tweet" height="400" width="750" min-width="500" align="right" ><a href="https://twitter.com/twitterapi/status/' + tid + '"</a></blockquote></li>';     
            ul.appendChild(li);

          }
          oldList.replaceChild(ul,tweets)

          twttr.widgets.load();
        }        
        </script>
    
    <!-- PLAYGROUND -->
    <!-- wikipedia image search display -->
    <div id="wikipedia"></div>
    
 <script>

d3.json("static/json/{{city}}_pie_combined.json", function (data) {
nv.addGraph(function() {


    var chart = nv.models.discreteBarChart()
        .x(function(d) { return d.label })
        .y(function(d) { return d.value })
        .staggerLabels(true)
        .tooltips(true)
        .showValues(true)

      d3.select("#chart1")
          .datum(data["trending"])
        .transition().duration(1200)
          .call(chart);


      d3.select("#chart2")
          .datum(data["upcoming"])
        .transition().duration(1200)
          .call(chart);


      d3.select("#chart3")
          .datum(data["verge"])
        .transition().duration(1200)
          .call(chart);
      




    return chart;

    });
});

</script> 
</div>  
<script type="text/javascript">// <![CDATA[
(function() {
var twitterScriptTag = document.createElement('script');
twitterScriptTag.type = 'text/javascript';
twitterScriptTag.async = true;
twitterScriptTag.src = 'static/widget.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(twitterScriptTag, s);
})();


// ]]></script>
  </body>

</html>





