<!DOCTYPE html>
<html>
  <head>
		<title> Buzz </title>
		<link href = "style.css" rel="stylesheet" type="text/css"></link>	
		<link rel="icon" type="image/ico" href="Images/icon.ico">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="JS/chartjs.js"></script>	
    <script src="JS/buzz.js"></script>
	</head>
	
	<body class="body"> 
    <!-- **HEADER**  -->
    <div id="buzztitle">
    	<img src="Images/title.png" />
    </div>
    
    <!-- **NAVIGATION BAR** -->
    <div id="navbar-wrapper">
      <h1 id="navbar-header"><a href="home.html">Buzz</a></h1>
      <div class="navbar"> 
          <ul>
              <li class="parent">
                  <img src="static/Images/discover.png"/>
                  <a href="discover.html">Discover</a>
                      <ul>
                        <li class="child"><a href="discover_Chicago">Chicago</a></li>
                        <li class="child"><a href="discover_Los Angeles">Los Angeles</a></li>
                        <li class="child"><a href="discover_Miami">Miami</a></li>
                        <li class="child"><a href="discover_New York City">New York</a></li>
                        <li class="child"><a href="discover_San Francisco">San Francisco</a></li>
                        <li class="child"><a href="discover_Washington DC">Washington DC</a></li>
                      </ul>
              </li>
                  
              <li class="parent">
                  <img src="static/Images/explore.png"/>
                  <a href="explore.html">Explore</a>
              </li>
              
              <li class="parent">
                <img src="static/Images/about.png"/>
                <a href="about.html">About</a>
              </li>

          </ul>
      </div>
    </div>
        
    <div id="maincontent">
    
         
           
    </div>

	</body>
</html>