<!DOCTYPE html>
<html>
	<head>
      <!-- load first -->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> 
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

      <title> Buzz </title>

      <link rel="icon" type="image/ico" href="static/Images/icon.ico">
      <link rel="stylesheet" type="text/css" href="static/Plugins/nvd3/nv.d3.css">
      <link rel="stylesheet" type="text/css" href = "static/css/style.css"></link>	
      <link rel="stylesheet" href="static/Plugins/FontAwesome/css/font-awesome.min.css" />
      <link rel="stylesheet" type="text/css" href="static/Plugins/IconMenu/css/component.css" />

      <script src="static/js/buzz.js"></script>
      <script src="static/Plugins/nvd3/lib/d3.v3.js"></script>
      <script src="static/Plugins/nvd3/nv.d3.js"></script>
      <script src="static/Plugins/IconMenu/js/modernizr.custom.js"></script>
      <style>
        #chart svg {
      	   height: 9000px;
      	   width: 750px;
        }
      </style>
	</head>
	
	<body class="body-explore"> 
    
      <!-- **NAVIGATION BAR** -->
      <ul class="cbp-vimenu">
          <li><a href="home.html" class="icon-logo"></a></li>
          <li><a href="#" class="icon-music"></a></li>
          <li><a href="discover.html" class="icon-discover"></a></li>
          <li><a href="explore.html" class="icon-explore"></a></li>
          <li><a href="about.html" class="icon-about"></a></li>
      </ul>
      <!-- <div id="navbar-wrapper">
          <h1 id="navbar-header"><a href="home.html">Buzz</a></h1>
          <div class="navbar"> 
            <ul>
                <li class="parent">
                    <a href="discover.html"><span><i class="fa fa-search fa-fw"></i> Discover</span></a>
                        <ul>
                          <li class="child"><a href="discover_Chicago">Chicago</a></li>
                          <li class="child"><a href="discover_Los Angeles">Los Angeles</a></li>
                          <li class="child"><a href="discover_Miami">Miami</a></li>
                          <li class="child"><a href="discover_New York City">New York</a></li>
                          <li class="child"><a href="discover_San Francisco">San Francisco</a></li>
                          <li class="child"><a href="discover_Washington DC">Washington DC</a></li>
                      </ul>
                </li>
                    
                <li class="parent">
                    <a href="explore.html"><span><i class="fa fa-link fa-fw"></i> Explore</span></a>
                </li>
                
                <li class="parent">
                  <a href="about.html"><span><i class="fa fa-align-left fa-fw"></i> About</span></a>
                </li>
          
            </ul>
          </div>
       </div> -->
    
    <!-- **HEADER**  
    <div class="white-header">
      <p class="ref">Explore</p>
    </div>-->

    <!-- **MAIN BODY** -->
    <div id="body">
      <div id="description">
        <h2 class="b-title">Select Cities to Compare</h2>
        <p>Select which cities you would like to compare and the chart below, which displays the overall </p>
        <p>tweets for a pop culture icon in the database for each city, will automatically update.</p>
        <p>Click the bars to display the related tweets. </p>
      </div>

      <!-- **TWEETS** -->
      <div class="rt" id="rt">
          <ul id="tweets"></ul>        
      </div>
            
            
			<div id="chart">
			  <svg></svg>
			</div>
              
    </div>

    <!-- Javascript functions -->
     <script type="text/javascript" charset="utf-8">


      $.getJSON( "static/json/compare_tweets.json", function( data ) {
      var items = [];
      var tweetlist = document.getElementById("tweets");
      $.each( data, function( i, tweet ) {
        if ( i === 40 ) {
        return false;
      }
        var li = document.createElement("li");
          li.innerHTML='<li style="text-align: -webkit-match-parent;" id="' + i + '">' +
          '<blockquote class="twitter-tweet" height=auto width="300" align="right" ><a href="https://twitter.com/twitterapi/status/' + tweet.id_str + '"</a></blockquote></li>';
          tweetlist.appendChild(li);
        });
      });

      function addTweets(tweetlist) {
        var count = Math.min(tweetlist.length,30);
        var tweets = document.getElementById("tweets");
        var ul = document.createElement("ul");
        ul.id="tweets";
        ul.setAttribute("style","list-style-type: none; text-align: -webkit-match-parent; float: right");
        var oldList = document.getElementById("rt");
        for (var i=0; i < count; i++) {
          var li = document.createElement("li");
          var tid = tweetlist[i];
          li.innerHTML='<li style="text-align: -webkit-match-parent;" id="' + tid + '">' +
          '<blockquote class="twitter-tweet" height=auto width="300" align="right" ><a href="https://twitter.com/twitterapi/status/' + tid + '"</a></blockquote></li>';     
          ul.appendChild(li);

        }
        oldList.replaceChild(ul,tweets)

        twttr.widgets.load();
      }


        d3.json("static/json/compare_values.json", function (data) {
                   
        nv.addGraph(function() {

           chart = nv.models.multiBarHorizontalChart()
          	  .stacked(false)
              .x(function(d) { return d.label })
              .y(function(d) { return d.value })
              .margin({top: 30, right: 20, bottom: 50, left: 150})
              .showValues(false) 
              .tooltips(true)
              .tooltipContent(function(key, y, e, graph,d) { 
                return '<h3>' + key + '</h3>' +'<p>' + y + '</p>' 
              })

              
              .showControls(false);



          chart.yAxis
              .tickFormat(d3.format(',0f'));


          d3.select('#chart svg')

              .datum(data)
            .transition().duration(500)
              .call(chart);
          nv.utils.windowResize(chart.update);


          return chart;
            },function(){

              chart.multibar.dispatch.on('elementClick', 
                function(e) {
                  console.log(e);
                  d3.selectAll('.nv-bar')
                     .style('opacity', .5)
                   e.e.srcElement.parentElement.style.setProperty('opacity',1);

                  addTweets(e.point.tweets);
                });

            });
        });

        // <![CDATA[
        (function() {
        var twitterScriptTag = document.createElement('script');
        twitterScriptTag.type = 'text/javascript';
        twitterScriptTag.async = true;
        twitterScriptTag.src = 'static/js/widget.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(twitterScriptTag, s);
        })();


        // ]]>

    </script>

    </body>
</html>