<!DOCTYPE html>
<html>
  	<head>
		<title> Buzz </title>
		<link rel="icon" type="image/ico" href="static/Images/icon.ico">
        <link href = "static/style.css" rel="stylesheet" type="text/css"></link>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>	
    </head>
	
	<body class="front-home">       
        <!-- **MAIN BODY** -->
        <div class="white-header">
            
        </div>
       
        <div class="main-divider">
            <h1 class="home-title" id="buzz"> Buzz </h1>
            <p class="home-title">the go-to site for trending </p>
            <p class="home-title">pop-culture topics and media</p>
            <p class="home-title">See what's <em>buzzing</em> in your area now!</p>
            <br>
            <br>
            <span id="tag-links">
                <p class="tagline"><a id="a"  href="about.html"> Learn More </a></p>
                <p class="tagline"><a id="b"  href="discover.html"> Discover </a></p>
                <p class="tagline"><a id="c"  href="explore.html"> Explore </a></p>
            </span>
        </div>
        
        <div id="home-body-wrapper">
       		<p><span>
                <p id="disc-title">Discover</p>
                <p id="exp-title">Explore</p>
            </span></p>
            
            <p><span>
                <img id="disc" src="static/Images/disc.png" />
                <img id="exp" src="static/Images/exp.png" />
            </span></p>	
        </div>
        
        <footer>
        	<p id="foot">&copy; 2013 Zhang, Cohn, Anumba</p>
        </footer>
        
	</body>
</html>