<!doctype html>
<html>
	<head>
		<title>Radar Chart</title>
		<script type="text/javascript" src="{{ url_for('static', filename='Chart.js') }}"></script>
		<meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
		<style>
			canvas{
			}
		</style>
	</head>
	<body>
		<canvas id="canvas" height="450" width="450"></canvas>


	<script>
		var pieData = new Array();
		{% for c in cities %}
			pieData.push({"labelColor" : 'black', "labelFontSize" : '16', "label" : "{{c}}", "value" : 5, "color" : "#FFFF00"});
		{% endfor %}


	var myPie = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(pieData);
	
	</script>
	</body>
</html>
